<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
	<link href="../public/css/pay.css" rel="stylesheet" type="text/css">
	<title>pay for service</title>
</head>
<body>
	<div class="container p-0">
			<script src="https://checkout.flutterwave.com/v3.js"></script>
	<div class="card px-4">
		<form>
					<p class="h8 py-3">Your Details</p>
			<div class="row gx-3">
					<div class="col-12">
							<div class="d-flex flex-column">
									<p class="text mb-1"> Name</p>
									<input class="form-control mb-3" type="text" id="name" placeholder="e.g obi mikel">
							</div>
					</div>
					<div class="col-12">
							<div class="d-flex flex-column">
									<p class="text mb-1">phone number</p>
									<input class="form-control mb-3" type="tel" id="phone"  placeholder="phone number" required>
							</div>
					</div>
					<div class="col-12">
							<div class="d-flex flex-column">
									<p class="text mb-1">Email</p>
									<input class="form-control mb-3" type="email" id="email" placeholder="e.g obimikel@gmail.com" required>
							</div>
					</div>
					<div class="col-12">
							<div class="d-flex flex-column">
									<p class="text mb-1">amount</p>
									<input class="form-control mb-3 pt-2 " type="tel" id="amount" placeholder="amount to be payed" required>
							</div>
					</div>
					<div class="col-12">
							<div class="btn btn-primary mb-3">
								<button type="button" onClick="makePayment()" >Pay now </button>	
							</div>
					</div>
			</div>
		</form>
	
	</div>
</div>

<script>
	function makePayment() {
		const amount = document.getElementById('amount').value
		const email = document.getElementById('email').value
		const name = document.getElementById('name').value
		const phone_number = document.getElementById('phone').value
		FlutterwaveCheckout({
			public_key: "FLWPUBK-afbf49c49f5701aa3f6ae025d7f9745d-X",
			tx_ref: Date.now(),
			amount,
			currency: "NGN",
			country: "NG",
			payment_options:"card, ussd,	account, mobilemoneyghana",

			// specified redirect URL
			redirect_url: "https://ppnglobalventures.herokuapp.com/pay/approved",
		
			// use customer details if user is not logged in, else add user_id to the request
			customer: {
				email,
				phone_number,
				name,
			},
			callback: function (data) {
				console.log(data);
			},
			onclose: function () {
				// close modal
			},
			customizations: {
				title: "Pay with ppn global",
				description: "pay for a service",
				logo: "https://i.postimg.cc/5tTMXnKG/ppn-logo.jpg",
			//	https://cdn.iconscout.com/icon/premium/png-256-thumb/payment-2193968-1855546.png
			},
		});
	}
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js">
</body>
</html>




